<include file="Public:menu" />

<script type="text/javascript" src="__PUBLIC__/js/jquery.uploadify.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/uploadify.css">

	<form>
		<div id="queue"></div>
		<input id="file_upload" name="file_upload" type="file" multiple="true" auto="false">
	</form>
		<script type="text/javascript">
		<?php $timestamp = time();?>
		$(function() {
			$('#file_upload').uploadify({
				'formData'     : {
					'timestamp' : '<?php echo $timestamp;?>',
					'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'
				},
				'swf'      : '__PUBLIC__/swf/uploadify.swf',
				'uploader' : 'test/uploadify'
			});
		});
	</script>

</html>