<include file="Public:menu" />
<script type="text/javascript">
	$(document).ready(function(){
		$("#mymenu .active").removeClass("active");
		$("#mymenu li:eq(1)").addClass("active");
	});
</script>
<?php 
	$Team = M("Team");
	$Director = M("Director");
	$data1 = $Team->select();
	$data2 = $Director->select();
?>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" style="">
			<img src="__PUBLIC__/img/person.jpg" style="float:right;margin-top: 20px">
			<h1>课程负责人：<b>{$data2[0]["name"]}</b></h1>
			<h3>课程队伍:
				<b>
					<?php
						foreach ($data1 as $key => $value) {
							echo $value['name'];
							echo "&nbsp;";
						}
					?>
				</b>
			</h3>
			<div><?php echo $data2[0]["profile"]?></div>
		</div>
	</div>
</div>